@import "variables.scss";
@import 'mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');


html body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@media all and (min-width: 700px) {
    .image-holder {
        perspective: 1300px;
        -webkit-perspective: 1300px;
        position: relative;
    }

    .lazy,
    .attachment-post-thumbnail {
        -webkit-transition-duration: 0.7s;
        -webkit-transition-property: all;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: 'ease-in-out';
        transition-duration: 0.7s;
        transition-property: all;
        transition-delay: 0s;
        transition-timing-function: 'ease-in-out';
        transform: rotateX(-80deg);
        transform-origin: 0 0 0;
        transform-style: preserve-3d;
        -webkit-transform: rotateX(-80deg);
        -webkit-transform-origin: 0 0 0;
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
        position: relative;
        background: #fff;
        opacity: 0;
        filter: alpha(opacity=0);
    }


    .lazy.lazy-loaded,
    .attachment-post-thumbnail.lazy-loaded {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

.image-holder {
    position: relative;
}

.custom-header {
    display: none;
}

.home .custom-header {
    display: block;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .custom-header-media:before {
        display: none;
    }

    .header-logo {
        left: 15%;
        top: 29%;
    }
}

// scroll down button 
.menu-scroll-down {
    display: block;
    text-align: center;
    width: 100%;
    margin: -70px 0 20px 0;
    position: relative;
    top: -40px;
    height: 53px;
}

// Folio two columns layout
    
// .post-navigation .nav-previous {
//     float: right;
// }

// .post-navigation .nav-next {
//     float: left;
// }

.folio-page {

    .column-custom {
        position: relative;
        margin-bottom: 17px;

        .hover {
            z-index: 1;
            background-color: #fbc9c5;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            @include transition(all .2s ease);
        }

        .info {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 10;
            padding: 20px;

            h2, h3 {
                margin: 0;
                padding: 0;
            }

            h2 {
                font-size: 34px;
                letter-spacing: 0.02em;
            }

            h3 {
                font-size: 20px;
                letter-spacing: 0.01em;

                a {
                    cursor: default;
                    pointer-events: none;
                }
            }

            a,
            h3 {
                color: #FFF;
            }
        }

        &:hover {

            .hover {
                opacity: 0.8;
            }

            .info {
                opacity: 1;
            }
        }
    }
}

// navigation
.navigation-top {
    @include transition(all .2s ease);
    opacity: 0;
    font-size: 1em;
    z-index: 0;

    .wrap {
        padding: 0.75em 1em;
    }

    a {
        font-weight: 400;
        color: #4F5D63;
    }

    &.made-it {
        opacity: 1;
    }

    .menu-main-container,
    .visionary-logo {
        display: inline-block;
        vertical-align: top;
    }

    .visionary-logo {
        width: 200px;
        height: auto;
    }

    // scrolled nav
    .logo-link {
        display: inline-block;
        cursor: pointer;
    }

    .main-navigation {
        margin-left: -0.75em;
    }

    .main-navigation,
    .address {
        display: block;
        vertical-align: top;
    }

    // nav address right side
    .address {
        display: block;
        width: auto;
        margin-top: -42px;
        text-align: right;
        float: right;

        .header-email {
            text-transform: uppercase;
            font-size: 0.9em;
            display: block;
        }

        .header-phone {
            font-size: 0.85em;
        }
    }

    .menu-main-container {
        margin: 6px 0 0 40px;

        .menu {
            
            li {
                text-transform: uppercase;
                margin: 0 5px;
                border: none;

                a {
                    border: 1px solid rgba(79,93,99,0.7);
                    padding: 5px 15px;
                    font-size: 0.8em;
                    color: #4F5D63;

                    &:hover {
                        background: #b1e2da;
                    }
                }

                &.current-menu-item {

                    a {
                        background: #b1e2da;
                    }
                }
            }
        }
    }

    #site-navigation {

        #header-logo {
            height: 40px;
            width: 201px;
            margin: -2px 0 0 5px;
        }
    }

    
}



// content area 
.twentyseventeen-front-page .site-content,
.site-content {
    padding-top: 5.5em;
}


.site-footer {
    background: #FFF;
    margin: 0;
    position: absolute;
    width: 100%;
}

// home container
.home {

    // header width
    .navigation-top .wrap {
        max-width: 940px;
        padding: .75em 20px .75em 0;
    }

    #content {

        .container {
            width: 100%;
            max-width: 970px;
            position: relative;

            .masonry {
                max-width: 940px;
                margin: auto;
            }
        }
    }
}

// home profile
.home-profile {
    position: absolute;
    left: -300px;
    top: -19px;
    max-width: 300px;
    text-align: center;
    transition: all .2s ease-out;

    h5,
    p {
        color: $black;
        font-weight: 100;
    }

    h5 {
        margin: .25em;
        padding: 0;
        text-transform: none;
        font-size: 1.5em;
        letter-spacing: .02em;
    }

    p {
        line-height: 140%;
    }
}

// responsive home
@media (max-width: 970px) {
    .home {

        // header width
        .navigation-top .wrap {
            max-width: 940px;
            padding: .75em 1em;
        }
    }
}


@media (max-width: 1500px) {
    .home-profile {
        max-width: 200px;
        left: -200px;
    }
}

@media (max-width: 1320px) {
    .home-profile {
        max-width: 150px;
        left: -140px;
    }
}

@media (max-width: 1250px) {
    .home-profile {
        position: relative;
        max-width: none;
        left: 0;
        margin: auto;
    }
}

// content and folio pages 
#content {

    .wrap {
        padding: 0 1em;
    }

    .container {
        width: 100%;
        max-width: none;

        .title-click {
            color: #4F5D63;
        }

        .title {
            font-size: 34px;
            font-weight: 700;

            svg {
                margin-left: 1em;
                transition: all .2s ease;
                position: relative;
                top: 3px;

                &.clicked {
                    transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);
                }
            }
        }
    }
    
    #primary.full-width {
        width: 100%;
        float: none;

        .entry-content {

            .hidden-content {
                display: none;
            }
        }
    }

    // post footer links
    .nav-links {
        .nav-title-icon-wrapper {
            position: relative;
            left: 0;
            right: 0;
        }

    }
}


body {

    color: #4F5D63;

    h3 {
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.3em;
        margin: 0 0 0.5em 0;
        letter-spacing: 0.01em;
    }

    p {
        line-height: 160%;
        margin-bottom: 1.5em;

        a {
            color: #4F5D63;
            border-bottom: 1px solid rgba(0,0,0,0.4);

            &:hover {
                color: #4F5D63;
                border-bottom: 1px solid rgba(0,0,0,1);
            }
        }
    }

    hr {
        margin: 1em 0;
    }

    ul {
        margin-top: -0.5em;

        li {
            list-style: disc outside;
            margin-left: 17px;
        }
    }
}


// Social icons
.heateor_sss_sharing_container {
    margin: 1em 0;

    .heateor_sss_sharing_title {
        margin: 0.5em 0
    }

    .heateorSssSharing {
        background-color: #2f353e;
    }
}

.heateorSssFacebookBackground:hover {
    background-color: #3C589A;
}

.heateorSssLinkedinBackground:hover {
    background-color: #0077B5;
}

.heateorSssPinterestBackground:hover {
    background-color: #CC2329;
}

.heateorSssEmailBackground:hover {
    background-color: #fbc9c5;
}



// footer
.site-content-contain .site-footer {

    .wrap {
        padding: 0.5em 1em;;
    }

    .footer-custom {
        text-align: left;
        width: 100%;

        .right-aligned {
            text-align: right;
        }

        svg {
            width: 130px;
            height: 26px;
            position: relative;
            left: -4px;
        }

        p {
            font-size: 0.8em;
        }
    }
}

@media all and (max-width: 550px) {
    .site-content-contain .site-footer .wrap .footer-custom .right-aligned {
        text-align: left;
    }
}


// Responsive

// no display of top nav icon links
.navigation-top.made-it #site-navigation .menu-main-container #top-menu li.has-icon {
    display: none;
}

// no display of mobile nav
.mobile-nav {
    display: none;
}

// Home page layout
@media all and (max-width: 800px) {
    .home .custom-header .header-logo {
        left: 5%;
        top: 10%;

        svg {
            width: 200px;
            height: 100px;
        }
    }
}

// Nav bar reduce size to fit before going responsive
@media all and (max-width: 768px) {

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .navigation-top .menu-main-container .menu li.current-menu-item a {
        background: none;
        border-bottom: 1px solid $main-green!important;
    }

    .navigation-top.made-it {
        bottom: auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1000;

        .wrap {
            padding-bottom: 0.4em;
        }

        #site-navigation {

            #header-logo {
                height: 25px;
                width: 141px;
                margin-left: -5px;
            }

            .menu-main-container {
                margin: 0 0 0 -10px;
                float: right;

                #top-menu {
                    display: block;
                    border: none;
                    padding: 0;
                    margin-left: 15px;

                    li {
                        list-style: none;
                        display: inline-block;
                        margin: 0;

                        a {
                            padding: 2px 0px 1px;
                            display: inline-block;
                            font-size: 12px;
                            margin: 0 0 0 3px;
                            border: none;
                            border-bottom: 1px solid rgba(79,93,99,0.3);

                            &:hover {
                                border-bottom: 1px solid $main-green;
                                background: none;
                            }
                        }

                        &.has-icon {
                            display: inline-block;
                            // background: $main-green;
                            // border: 1px solid $main-green;
                            // border: none;
                            width: 20px;
                            height: 20px;
                            position: relative;
                            top: 1px;
                            border-radius: 50%;
                            text-align: center;

                            a {
                                border: none;
                                padding: 0;
                                margin: 0;
                                font-size: 16px;

                                &:hover {
                                    background: none;
                                    color: $main-green;
                                }
                            }


                        }

                        &.has-icon-one {
                            margin-left: 2px;
                        }

                        &.has-icon-two {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }

        .address {
            display: block;
            margin: 0;
            text-align: center;
            float: none;
            position: relative;

            .header-email,
            .header-phone {
                font-size: 0.8em;
            }
        }

        // mobile nav grid

        .main-navigation {
            margin-left: 0;

            a.fa {
                font-size: 20px;
                margin-left: 10%;
                display: inline-block;
                padding: 5px;

                &:hover {
                    color: $main-green;
                }
            }
        }

        .mobile-nav-container {
            width: 100%;

            .nav-column {
                box-sizing: border-box;
                display: inline-block;
                vertical-align: top;
                width: 30.29%;
                margin-left: 4%;

                &.address {
                    text-align: right;
                    position: relative;
                    top: -5px;
                }

                &:first-child {
                    margin-left: -7px;
                }
            }

            .menu-toggle {
                padding: 0;
                height: auto;
                border-radius: none;
            }
        } 

        .menu-main-container {
            display: none;
            margin: 0;

            ul.menu {
                margin: 0;

                li {
                    list-style: none;
                    display: block;
                    width: 100%;
                    border: none;
                    margin: 0;
                    text-align: center;

                    a {
                        width: 100%;
                        display: block;
                        border: none;
                        border-bottom: 1px solid #EEEEEE !important;
                    }

                    li.current-menu-item a {
                        border-bottom: 1px solid #EEEEEE !important;
                    }
                }
            } 
        }  
    }

    .menu-scroll-down {
        display: none;
    }

    .site-content-contain #content {
        padding-top: 1em;
    }

    .single-featured-image-header {
        padding-top: 50px;
    }

    .single-post {

        .site-content-contain {
            padding-top: 50px;
        }
    }

    // content and folio pages 
    #content {

        .container {
            padding: 0;
        }
    }
}

@media all and (max-width: 500px) {
    .navigation-top.made-it {

        .mobile-nav-container {

            .menu-toggle {
                text-align: right;
                position: relative;
                left: 40px;
            }

            .address {
                left: 13px;
            }
        } 
    }

    .home .custom-header .header-logo {
        top: 24%;
    }
}

@media all and (max-width: 400px) {
    .footer-custom.container {
        padding: 0;
    }
}




















