$white: #FFFFFF;
$black: #000000;
$primary-orange: #F8971D;
$phone-green: #5BC236;

$main-green: #b1e2da;


/* Flex */
.flexbox {
	display: -webkit-flex;
	display: flex;
}




/* Media queries */
$break-tablet: 769px;